[Unit]
Description=Network-monitor Service
After=sros.service,connman.service,systemd-networked.service

[Service]
Type=simple
ExecStart=/sros/bin/network-monitor.sh 
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
