$def with (route)
  
$:render.header(route)

<style>
    img {width: 100%;}
</style>

<script type="text/javascript">

$$(function(){

    setInterval(refresh_image, 500);

    function refresh_image() {
        $$("#preview-0").attr("src", "$config.root/api/v0/camera/0/now?time=" + Math.random());
        $$("#preview-2").attr("src", "$config.root/api/v0/camera/2/now?time=" + Math.random());

        $$("#vision-0").attr("src", "$config.root/api/v0/vision/0/now?time=" + Math.random());
        $$("#vision-1").attr("src", "$config.root/api/v0/vision/1/now?time=" + Math.random());
    }

});


</script>

<h3>Camera Preview</h3>

<hr>

<div class="row">

    <div class="col-sm-6">
        <!-- Color image -->
        <img id="preview-0" src="$config.root/api/v0/camera/0/now" />
    </div>

    <div class="col-sm-6">
        <!-- Depth image -->
        <img id="preview-2" src="$config.root/api/v0/camera/2/now" />
    </div>
</div>

<div class="row">

    <div class="col-sm-6">
        <!-- Color image -->
        <img id="vision-0" src="$config.root/api/v0/vision/0/now" />
    </div>

    <div class="col-sm-6">
        <!-- Depth image -->
        <img id="vision-1" src="$config.root/api/v0/vision/1/now" />
    </div>
</div>


$:render.footer()

