$def with (route, ds)
  
$:render.header(route)

<style>
    .panel-heading {
        cursor: pointer;
    }
</style>

<script type="text/javascript">

$$(function(){
    $$("table").each(function() {
        $$(this).hide();
    });

    $$(".panel-heading").click(function() {
        $$(this).parent().find("table").toggle();
    });

    $$('#update-setting').on('show.bs.modal', function (event) {
        var button = $$(event.relatedTarget) // Button that triggered the modal
        var item_id = button.data('id') // Extract info from data-* attributes

        $$.ajax({
            type: "GET",
            url: "/api/v0/setting/" + item_id,
            data: {},
            dataType: "json",
            success: function(data) {
                console.log(data["name"]);
                $$("#update-setting input").each(function() {
                    $$(this).val(data[$$(this).attr("id")]);
                });

                $$("#new_value").val(data["value"]);
            },
            error: function() {
                console.log("ajax error");
                alert("加载失败！");
            }
        })
    });

    $$("#submit-update").click(function() {
        item_id = $$("#id").val();
        cur_value = $$("#value").val();
        new_value = $$("#new_value").val();

        if (cur_value === new_value) {
            $$("#update-setting").modal('hide');
            return true;
        }

        $$.ajax({
            type: "PATCH",
            url: "/api/v0/setting/" + item_id,
            data: JSON.stringify({"value" : new_value}),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(data) {
                // alert("保存成功！");

                $$("#item-" + item_id + "-value").html(data["value"]);
                $$("#item-" + item_id + "-changed_time").html(data["changed_time"]);
                $$("#update-setting").modal('hide');
            },
            error: function() {
                alert("保存失败！");
            }
        })
    })

});
</script>

<div class="modal fade" id="update-setting" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">修改参数</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <label for="id" class="col-sm-4 col-form-label">id</label>
                        <div class="col-sm-8">
                            <input type="text" readonly class="form-control" id="id" value="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="key" class="col-sm-4 col-form-label">key</label>
                        <div class="col-sm-8">
                            <input type="text" readonly class="form-control" id="key" value="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="name" class="col-sm-4 col-form-label">名称</label>
                        <div class="col-sm-8">
                            <input type="text" readonly class="form-control" id="name" value="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="value" class="col-sm-4 col-form-label">当前值</label>
                        <div class="col-sm-8">
                            <input type="text" readonly class="form-control" id="value" value="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="default_value" class="col-sm-4 col-form-label">默认值</label>
                        <div class="col-sm-8">
                            <input type="text" readonly class="form-control" id="default_value" value="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="value_units" class="col-sm-4 col-form-label">单位</label>
                        <div class="col-sm-8">
                            <input type="text" readonly class="form-control" id="value_units" value="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="permission" class="col-sm-4 col-form-label">权限</label>
                        <div class="col-sm-8">
                            <input type="text" readonly class="form-control" id="permission" value="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="changed_time" class="col-sm-4 col-form-label">更新时间</label>
                        <div class="col-sm-8">
                            <input type="text" readonly class="form-control" id="changed_time" value="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="value_range" class="col-sm-4 col-form-label">取值范围</label>
                        <div class="col-sm-8">
                            <input type="text" readonly class="form-control" id="value_range" value="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="description" class="col-sm-4 col-form-label">描述</label>
                        <div class="col-sm-8">
                            <input type="text" readonly class="form-control" id="description" value="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="value_type" class="col-sm-4 col-form-label">类型</label>
                        <div class="col-sm-8">
                            <input type="text" readonly class="form-control" id="value_type" value="">
                        </div>
                    </div>
                    <!--<div class="form-group row">-->
                        <!--<label for="changed_user" class="col-sm-4 col-form-label">更新用户</label>-->
                        <!--<div class="col-sm-8">-->
                            <!--<input type="text" readonly class="form-control" id="changed_user" value="">-->
                        <!--</div>-->
                    <!--</div>-->

                    <hr/>

                    <div class="form-group row">
                        <label for="new_value" class="col-sm-4 col-form-label">更新值</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="new_value" value="">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="submit-update">保存修改</button>
            </div>
        </div>
    </div>
</div>

<h3>Settings</h3>

<hr>

$for sec in ds.keys():
    <div class="panel panel-info">

    <div class="panel-heading"><strong>$sec</strong></div>

    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>id</th>
            <th>key</th>
            <th>名称</th>
            <th>当前值</th>
            <th>默认值</th>
            <th>单位</th>
            <th>权限</th>
            <th>更新时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody id="res">

    $for item in ds[sec].values():
        <tr id="item-$item['id']">
            <td>$item['id']</td>
            <td>$item['key']</td>
            <td>$item['name']</td>
            <td><strong id="item-$item['id']-value">$item['value']</strong></td>
            <td>$item['default_value']</td>
            <td>$item['value_units']</td>
            <td>$item['permission']</td>
            <td id="item-$item['id']-changed_time">$item['changed_time']</td>
            <td><a href="#" data-toggle="modal" data-target="#update-setting" data-id="$item['id']">修改</a></td>
        </tr>

        </tbody>
    </table>

    </div>

$:render.footer()

